<!DOCTYPE html>
<html>
<head>
  <title>Library Book List - Paris Dauphine 2015 - Emerging Technologies </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Library Book list - Book details <a class='action' href="/">back</a></h1>
</div>

<h2> <%= booklist.authorname %><a class='action' href="/book/personality/<%= booklist._id %>"> Analyze the personality</a></h2>
<a class='action' href="/twitter/<%= booklist._id %>"> Twitter></a>
<%= booklist.authorbio %>
<blockquote><%= booklist.authorquote %>    </blockquote>

<h3><%= booklist.booktitle %> <a class='action' href="/book/translate/<%= booklist._id %>"> Tranlate into English%></a> </h3>

<b>Publication Date :</b> <%= booklist.bookpubdate %>
<div id="sum">  <%= booklist.booksummary %></div>
<div class="row">

        <div>
          <button type=button class="speak-button">
            Speak
            <span>(Only in Chrome & Firefox)</span>
          </button>
        </div>

      </div><!-- /.row -->
<div class="row">
        <div>
          <div class="audioParent">
            <audio class="audio">
            Your browser does not support the audio element.
            </audio>
          </div>
        </div>
      </div>

<div class='full' >
  <%- include ../partial/footer %>
  <%- include ../partial/description %>
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/tts.js"></script>
</body>
</html>
