<!DOCTYPE html>
<html>
<head>
  <title><%= booklist.authorname %> - <%= booklist.booktitle %> - Paris Dauphine - Emerging Technologies </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Library Book list - Book details - Translation <a class='action' href="/book/open/<%= booklist._id %>">back</a></h1>
  <h2><%= booklist.authorname %> </h2>
  <h3><%= booklist.booktitle %>  </h3>
  <p><b>Publication Date :</b> <%= booklist.bookpubdate %></p>

  <div class='languagedetection'>Language Detection
    <ul><% if (langdetection !== null) { langdetection.languages.forEach(function(country, index) { %>
      <li>
        <b> <%= country.language %> </b> : <%= Number((country.confidence)*100).toFixed(1) %> %
      </li>
      <% })}; %>
    </ul>
  </div>

  <div class='original'>
    <%= booklist.booksummary %>
  </div>

  <div class='translation'>
    <%= transsummary.translations[0].translation;%>
  </br></br>  <%= transsummary.word_count;%> words translated.
  </div>

  <div id = 'footer'>
    <%- include ../partial/footer %>
  </div>
</body>
</html>
